body{
	max-width:1920px;
	width: 100vw;
	height: 100vh;
	max-height: 2753px;
}
.header-div{
	display: flex;
	justify-content: space-between;

}
.a-li{

 text-decoration: none;
 color: #707070;
 font-size: 20px;
 font-family: "BPG Nino Mtavruli Bold", sans-serif;
 padding: 53px;
}
.nav-ul{
	margin-right: 20px;
	display: flex;
}
.menu{
	margin-top: 73px;
	display: flex;
}
.logo{
	margin-top: 52px;
	margin-left: 140px;
}
.iconify-search{
	background: url('https://api.iconify.design/eva/search-fill.svg?width=60&height=60') no-repeat center center / contain;
	content: url('https://api.iconify.design/eva/search-fill.svg?width=60&height=60');
}
.img1{
	margin-top: 107px;
	margin-left: 140px;
	max-width: 1640px;
	max-height: 613px ;
	object-fit: cover;
}
h2{
	
	font-size: 40px;
	margin-top:138px ;
	margin-left:139px ;
}
.section{
	display: flex;

}
.section-img{
	object-fit: cover;
	width: 483px;
	height: 282px;
}
.h3-important{
	font-size: 30px;
	font-family: " sans-serif";
	width: 282px;
	height: 40px;
	margin-top: 20px;
	margin-left: 12px;
}
.text{
	font-size: 18px;
	margin-top: 33px;
	width:446px ;
	height: 48px;
	margin-bottom: 73px;
	margin-left: 12px;
}
.card{
	background-color: #F6F6F6;
	width: 483px;
	height:554px;
	margin: 95px;
	margin-right:30px;



}
.class-more{
	text-decoration: none;
	font-size: 24px;
	color: black;
	font-family: "sans-serif";
	margin-left: 360px;

}
.container{
	background-color:#2E2E2E;
	width: 1895px;
	height: 207px;
}
.footer{
	display: flex;
}
#Group_3{
	margin-left: 140px;
	margin-top: 56px;
	margin-bottom: 56px;
}
.info1{
	width: 124px;
	height: 61px;
	margin-left: 636px;
	margin-top: 67px;
	margin-bottom: 79px;
	color: white;
}
.info1-ul a{
	color: white;
}
.info2{
	width: 240px;
	height: 43px;
	margin-left: 363px;
	margin-top: 67px;
	margin-bottom: 97px;
	color: white;
}
.info2-ul a{
	color: white ;
}
.footer-icons{
	width: 122px;
	height: 43.95px;
	margin-left: 295px;
	margin-top: 81px;
	margin-bottom: 82px;
	display: flex;
	margin-right: 140px;
}
.iconify-facebook{
	background: url('https://api.iconify.design/jam/facebook-circle.svg?color=%23f8f8f8&width=43.95&height=43.95') no-repeat center center / contain;
	content: url('https://api.iconify.design/jam/facebook-circle.svg?color=%23f8f8f8&width=43.95&height=43.95');
}
.iconify-instagram{
	background: url('https://api.iconify.design/prime/instagram.svg?color=%23f8f8f8&width=43.95&height=43.95') no-repeat center center / contain;
	content: url('https://api.iconify.design/prime/instagram.svg?color=%23f8f8f8&width=43.95&height=43.95');
}
@media (max-width:500px){
	* { 
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}
body{
	background-color: rgb(202, 202, 153);
}
	.logo{
		margin-left: 40vw;
		margin-top: 28px;
	}
	.nav-li{
		display: none;
	}
	.img1{
		margin-top:22px;
		margin-left: 0px;
		width:100vw;
		height:253px ;
		object-fit: cover;
	}

h2{
	font-family: sans-serif;
	font-size: 15px ;
	margin-top:111px ;
	margin-left:30vw ;
}
.section{
	display: flex;
	flex-direction: column;
	margin-left: 25vw;
}

.section-img{
	object-fit: cover;
	width: 245px;
	height: 143px;
}
.h3-important{
	font-size: 15px;
	font-family:  sans-serif;
	width: 141px;
	height: 20px;
	margin-top: 9px;
	margin-left: 6px;
}
.text{
	font-size: 8px;
	margin-top: 17px;
	width:198px ;
	height: 22px;
	margin-bottom: 39px;
	margin-left: 6px;
}
.card{
	background-color: #F6F6F6;
	width: 245px;
	height:286px;
	margin-left:0px;
}
.footer-logo{
	display: none;
}
.class-more{
	text-decoration: none;
	font-size: 11px;
	color: black;
	font-family:  sans-serif;
	margin-left: 200px;

}
.iconify-search{
	display: none;
}
.container{
	background-color:#2E2E2E;
	width: 100vw;
	height: 330px;
	
}
.footer{
	display: block;
}
.li-info{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 13px;
}
h4{
	color:#FFFFFF ;
	font-size: 19px;
}
.info1-ul{
	margin-left: 25vw;
}
.info2-ul{
	margin-left: 25vw;
	margin-right: 25vw;
}
.info1{
	margin-top: -40px;
	margin-left: 50px;
}
.info2{
	margin-top: 6px;
	margin-left: 50px;

}
.footer-icons{
	display: flex;
	margin-left: 35vw;
	margin-top: 15px;
}



}
